/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        alfred: alfred {
            label = "alfred";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RCMD>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp RCMD>
                ;
        };
        omnifocus: omnifocus {
            label = "omnifocus";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_press &kp LALT>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LCMD>
                , <&macro_release &kp LALT>
                ;
        };
        comment: comment {
            label = "comment";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_press &kp LALT>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCMD>
                , <&macro_release &kp LALT>
                ;
        };
    };
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC    |  '  |  ,  |  .   |  P      |  Y      |                                              |  F   |  G   |  C   |  R  |  L  |   /      |
// | SHIFT ( |  A  |  O  |  E   |  U      |  I      |                                              |  D   |  H   |  T   |  N  |  S  |  ) SHIFT |
// | PLAY  |  ;  |  Q  |  J   |  K      |  X      | SPACE | COMMENT   ||  || ???     |  SPACE    |  B   |  M   |  W   |  V  |  Z  |   RETURN |
//                       | KNOB | CTRL OF | OPT ALF |  CMD  | RETURN?   ||  || BKSP    |    CMD    | DEL  | BSPC |  -   |
			bindings = <
	&mt ESC TAB   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp LEFT_BRACKET
	&mt LSHIFT LPAR   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &mt RSHIFT RPAR
	&kp C_PLAY_PAUSE &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp &comment          &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RET
	                 &kp K_MUTE &mt LCTRL &omnifocus &mt LALT &alfred &mt RCMD SPACE &kp RET        &kp BSPC  &mt LCMD SPACE  &kp DEL &kp BSPC &kp MINUS
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
