/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC    |  '  |  ,  |  .   |  P   |  Y   |                                              |  F   |  G  |  C   |  R  |  L  |   /  |
// | SHIFT(  |  A  |  O  |  E   |  U   |  I   |                                              |  D   |  H  |  T   |  N  |  S  |   -  |
// | SHIFT   |  ;  |  Q  |  J   |  K   |  X   |   SPACE | L SHIFT |  | L SHIFT     |  SPACE  |  B   |  M  |  W   |  V  |  Z  |  RET |
//                     | KNOB | CTRL OF | OPT ALF |  SPACE  |   ESC   |  | BKSP  |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&mt ESC TAB   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	&mt LSHIFT LPAR   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT          &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RET
	                 &kp K_MUTE &mt LCTRL O &mt LALT A &kp SPACE &kp ESC        &kp BSPC  &kp SPACE  &kp DEL &kp BSPC &kp HOME
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
